<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BD</servlet-name>
        <servlet-class>SV.BD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tablas</servlet-name>
        <servlet-class>SV.tablas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>columnas</servlet-name>
        <servlet-class>SV.columnas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBD</servlet-name>
        <servlet-class>SV.NewBD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta</servlet-name>
        <servlet-class>SV.consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulta2</servlet-name>
        <servlet-class>SV.consulta2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dibujarcolumnas</servlet-name>
        <servlet-class>SV.Dibujarcolumnas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BD</servlet-name>
        <url-pattern>/BD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tablas</servlet-name>
        <url-pattern>/tablas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>columnas</servlet-name>
        <url-pattern>/columnas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBD</servlet-name>
        <url-pattern>/NewBD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta</servlet-name>
        <url-pattern>/consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulta2</servlet-name>
        <url-pattern>/consulta2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dibujarcolumnas</servlet-name>
        <url-pattern>/Dibujarcolumnas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
